node_modules

# Tanstack
.tanstack

# tests
coverage

# editor
.vscode
.zed

#generated artifacts
**/generated/*
!**/generated/.gitignore

# TLS/HTTPS
certificates

# environment
*.env*

# below are safe to commit
!.env
!.env.development
!.env.production
!.env.test
!.env.local.template
