node_modules

# TanStack
.tanstack
.nitro
.output

# tests
coverage

# editor
.vscode
.zed

# TLS/HTTPS
certificates

# environment
*.env*

# below are safe to commit
!.env
!.env.development
!.env.production
!.env.test
!.env.local.template
