node_modules

# Next.js
.next
next-env.d.ts
.swc

# tests
coverage

# editor
.vscode

#generated artifacts
**/generated/*
!**/generated/.gitignore

# TLS/HTTPS
certificates

# environment
*.env*

# below are safe to commit: https://nextjs.org/docs/basic-features/environment-variables
!.env
!.env.development
!.env.production
!.env.test
!.env.local.template
